<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Bem vindo(a) à plataforma helpy.</p>

  <p>Verifique seu e-mail para que possa fazer seu logon na plataforma.</p>
  <p>
    <strong>Não esqueça de completar o perfil da sua empresa.</strong>
    <a href="{{link}}">Confirmar e-mail</a>
  </p>

  <p>Se não foi você, então descarte esse e-mail!</p>

  <p>Obrigado!<br />
    <strong>
      Equipe Helpy
    </strong>
  </p>
</div>
