<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <h2>Olá!!</h2>
  <p>Um novo serviço esta disponível na nossa plataforma! Seja o primeiro a fazer uma proposta.</p>

  <p>
    <a href="{{link}}">Confira os serviços.</a>
  </p>

  <p>Obrigado!<br />
    <strong>
      Equipe FindService
    </strong>
  </p>
</div>
